:root {
    --bs-light-rgb: 180, 180, 180;
    --bs-btn-color: #6c757d;
    --book-cover-width: 10rem;
}

.bg-dark .card,
.bg-dark .card-body,
.bg-dark .list-group-item,
.bg-dark .offcanvas,
.bg-dark .offcanvas-header,
.bg-dark .offcanvas-body,
.bg-dark .form-select,
.bg-dark .modal-content
{
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    border-color: var(--bs-btn-color) !important;
}

.text-light h1,
.text-light card,
.text-light .offcanvas-header,
.text-light .offcanvas-body,
.text-light .form-select
{
    color: var(--bs-light-rgb) !important;
}

.box {max-width: 720px;}
h1 {text-align: center; margin: 1rem 0;}
img {max-width: 100%; margin-bottom: 1rem;}
a {text-decoration: none;}

#chapter-main b {
    font-weight: normal;
}
#chapter-main i {
    font-style: normal;
}
#chapter-main s {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-style: normal;
    display: inline-block;
    font-size: 1rem;
    border: 1px solid #8c959d;
    color: #8c959d;
    font-weight: 200;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    margin-right: 0.125rem !important;
}

.bg-dark #chapter-main s {
    border-color: #6c757d;
    color: #6c757d;
}

#chapter-main s.clicked,
.bg-dark #chapter-main s.clicked {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

blockquote {
    padding: 1rem;
    font-size: 1rem;
    font-style: italic;
    margin-left: 2rem;
    font-weight: 300;
}

blockquote p {
    margin-bottom: 0.45rem;
}

.cover-width {
    width: var(--book-cover-width);
}
.cover {
    width: var(--book-cover-width);
    height: calc(var(--book-cover-width) * 1.5);
}
